<div class="container mt-3">
  <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
      <div class="row jumbotron box8">
        <div class="col-sm-12 mx-t3 mb-4">
          <h2 class="text-center text-info">Register</h2>
        </div>
        <div class="col-sm-6 form-group">
          <label for="name-f">Name</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter your  name." ngModel required>
        </div>     
        <div class="col-sm-6 form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email." ngModel required>
        </div>        
        <div class="col-sm-6 form-group">
          <label for="pass">Password</label>
          <input type="Password" name="password" class="form-control" id="password" placeholder="Enter your password."  ngModel required>
        </div>
        <div class="col-sm-6 form-group">
          <label for="pass2">Confirm Password</label>
          <input type="Password" name="password_confirmation" class="form-control" id="password_confirmation" placeholder="Re-enter your password." ngModel  required>
        </div>
        <div class="col-sm-12">
          <input type="checkbox" class="form-check d-inline" id="chb" required><label for="chb" class="form-check-label">&nbsp;I accept all terms and conditions.
          </label>
        </div>
  
        <div class="col-sm-12 form-group mb-0">
          <button class="btn btn-primary float-right">Submit</button>
        </div>
  
      </div>
    </form>
  </div>