<div class="d-flex justify-content-center align-items-center mt-5 ">

    <div class="text-center pt-5">
       
        <h2>Books Adding</h2>
        <p>
            Add your books .
        </p>
    </div>

    <div class="card col-md-5">

        <div class="card-body ">
            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                <div class="form-group">
                    <label for="inputName">Book Name</label>
                    <input type="text" class="form-control" id="inputName" name="bookName" placeholder="book name"
                    ngModel  required />

                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="textAreaRemark">Category -</label>
                        <select class="selectpicker" name="categoryId" ngModel>
                            <option value="Advanture">Advanture</option>
                            <option value="Novel">Novel</option>
                            <option value="kids">kids</option>
                        </select>

                    </div>
                </div>

                <hr />


                <div class="form-group">
                    <label class="form-label" for="customFile">Upload Image</label>
                    <input type="file" name="profile" (change)="onFileSelect($event)" ngModel />
                </div>
                <div class="form-group">
                    <label for="textAreaRemark">Notes</label>
                    <textarea class="form-control" name="note" id="textAreaRemark" rows="2"
                        placeholder="Tell us you want more..." ngModel></textarea>
                </div>
                <!-- End Input Remark -->

                <!-- Start Submit Button -->
                <button class="btn btn-primary btn-block col-lg-2" type="submit">Submit</button>
                <!-- End Submit Button -->
            </form>
            <!-- End Form -->
        </div>
        <!-- End Card Body -->
    </div>
</div>